namespace: wordpress

wordpress:
  image: "wordpress:latest"
  replicaCount: 1
  service:
    type: NodePort
    port: 80
    nodePort: 32000
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "1Gi"
      cpu: "500m"
  persistentVolume:
    size: 5Gi

postgresql:
  enabled: true
  image: "postgres:13"
  postgresPassword: "postgres"
  database: "wp_db"
  user: "wp_user"
  password: "wp_password"
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "1Gi"
      cpu: "500m"
  persistentVolume:
    size: 5Gi
